@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');


*{
  background-image: url('https://www.shutterstock.com/image-vector/grunge-style-halloween-red-background-blood-583943026');

}

.App {
  text-align: center;
  display: grid;
  height: 100vh;
  background-color: #dadbd3;
}

.app_body{
  display: flex;
  font-family: 'Comforter', cursive, bold;
  font-size: 20px;
  background-color:#ededed;
  margin-top: 10px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 10px -6px rgba(o, o, o , o.75);
  background-image: url('https://imgur.com/w9fuW69')
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
